// Colors
$background-lightest: #323741;
$background-light: #2D313A;
$background-medium: #282B33;
$background-dark: #23252C;
$background-darkest: #1E1F25;

$selected-background: #074E17;

$primary-green: #2ECC40;
$primary-yellow: #FFE21F;
$primary-red: #FF695E;

$primary-green-dark: #21BA45;

$separator: #141317;