// Colors
$background-lightest: #323741;
$background-light: #2D313A;
$background-medium: #282B33;
$background-dark: #23252C;
$background-darkest: #1E1F25;

$primary-green: #2ECC40;
$selected-background: #074E17;

$separator: #141317;