@import "../../colors.global";

$header-height: 97px;

.stats-player-header {
  background: $background-lightest !important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  margin: 0 -34px 0 -34px !important;
  padding: 0 48px 0 48px !important;

  .matchup-display {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    align-items: center;

    .player-display {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      justify-self: end;

      &.second {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row-reverse;

        justify-self: start;
      }

      h2 {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .play-button {
      justify-self: end;
      margin-right: 14px;
    }
  }

  .game-details {
    margin: 0 !important;
    padding: 0 0 14px 0 !important;

    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    div {
      padding: 0 14px 0 14px;
    }

    div:not(:last-child) {
      border-right-color: rgba(255, 255, 255, 0.5);
      border-right-width: 1px;
      border-right-style: solid;
    }

    .label {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.5);
      margin-right: 2px;
    }

    .content {
      color: rgba(255, 255, 255, 0.8);
      text-transform: capitalize;
    }
  }

  .character-image {
    height: 36px !important;
    width: 36px !important;
  }
}

.sticky-names {
  z-index: 2;
  position: relative;
}

.stats-section {
  padding-top: 28px;

  &.stuck {
    margin-top: $header-height !important;
  }
}

.vs-element {
  color: rgba(255, 255, 255, 0.5);
  line-height: 0.8;
  width: 20px;
  height: 18px;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

.section-header {
  color: rgba(255, 255, 255, 0.8) !important;
}

.secondary-text {
  color: rgba(255, 255, 255, 0.6) !important;
}

.highlight-text {
  color: $primary-yellow;
  font-weight: bolder;
  font-size: 1.2em;
}

.stat-with-sub-value {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  grid-gap: 6px;
}

.stats-table {
  margin: 0 !important;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1) !important;

  thead>tr>th {
    background: $background-medium !important;
  }

  tbody>tr>td {
    background: $background-light !important;

    &.category {
      padding: 6px 6px 6px 11px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.5);
      background: $background-lightest !important;
    }

    &.attach-to-left-cell {
      padding-left: 0;
      border-left: 0 !important;
    }

    &.sub-header {
      padding: 11px 11px 11px 17px;
      color: rgba(255, 255, 255, 0.7);
    }

    &.info {
      background: $background-lightest !important;
    }
  }
}

.player-col-header {
  display: flex;
  align-items: center;
}

.two-column-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
}

.stock-display {
  display: flex;
  align-items: center;

  .lost-stock {
    opacity: 0.4;
  }
}

.punish-damage-display {
  display: flex;
  align-items: center;
}