@import "../colors.global.scss";

.stats-player-header {
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: $separator;
  background: $background-dark !important;
  margin: 0 -34px 0 -34px !important;
  padding: 0 48px 0 48px !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  .player-col {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .character-image {
    height: 40px !important;
    width: 40px !important;
  }
}

.sticky-names {
  z-index: 2;
  position: relative;
}

.stats-section {
  &.stuck {
    margin-top: 69.58px !important;
  }
}