@import "../../colors.global.scss";

.main {
  z-index: 1;
}

.empty-state {
  margin-top: 30px !important;
}

.folder-selection {
  &.selected {
    background: $selected-background;
    z-index: -1; // Puts selection behind text. Unclickable
  }

  position: absolute;
  left: 0;
  height: 22px;
  width: 100%;
  z-index: 2; // This allows selection to happen
}

.folder-icon {
  padding: 3px 0 !important;
}

.folder-name {
  padding: 3px 0 !important;
}