@import "../../colors.global.scss";

.container {
  padding: 3px;
  // border-width: 0 0 0 2px;
  border-width: 0px;
  border-style: solid;
  border-color: $primary-green-dark;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.08);
}

.name-display {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;
}
