@import "../colors.global.scss";

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  align-content: stretch;
}

.main {
  padding: 20px;
}

.sidebar {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: $separator;
  background: $background-dark;
  display: grid;
  height: 100vh;
  overflow-y: auto;
}

.empty-sidebar-content {
  margin-top: 70px;
  justify-self: center;
}

.play-cell {
  text-align: center;

  button>i {
    color: #94969A;
  }

  button:hover {
    i {
      color: #FFFFFF;
    }
  }
}