// Spacers
.top-spacer {
  margin-top: 10px !important;
}

.no-padding {
  padding: 0 !important;
}

.horizontal-spaced-group-right-xs {
  *:not(:last-child) {
    margin-right: 3px;
  }
}

.horizontal-spaced-group-left-xs {
  *:not(:last-child) {
    margin-left: 3px;
  }
}

.horizontal-spaced-group-right-sm {
  *:not(:last-child) {
    margin-right: 6px;
  }
}

.horizontal-spaced-group-left-sm {
  *:not(:last-child) {
    margin-left: 6px;
  }
}
